body{
    font-family: 'Segoe UI', "Roboto Slab", 'Open Sans',  sans-serif;
    margin: 0; 
    padding: 0;
}
div{
    box-sizing: border-box;
}
header{
    background: url(../img/fon.png) no-repeat center top / cover;
}
.container{
    width: 1234px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header-logo{
    margin-top: 50px;    
}
/* Begin menu */
.header-list{
    margin-top: 57px;
    display: flex;
    justify-content: space-between;
    width: 59%;
    margin-bottom: 0;
   
}
.header-list__item a{
    font-size: 16px;
    font-family: "Open Sans regular";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}
.header-list__item{
   display: block;
}
/* Finish menu */
/* Begin header book */
.blok-book{
    margin-top: 181px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.blok-book__img{
    background: url(../img/book.svg);
    width: 68%;
    height: 641px;
    overflow: hidden;
    margin-bottom: 160px;
}
.blok-text{
    margin-left: 93px;
    margin-right: 99px;
    width: 102%;
}
.book__img-title{
    margin-bottom: 0;
    margin-top: 118px;
    font-size: 36px;
    font-family: "Roboto Slab";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;    
}
.book__img-text{
    margin-bottom: 0px;
    margin-top: 14px;
    font-size: 14px;
    font-family: "Open Sans Regular";
    color: rgb(101, 228, 150);
    line-height: 1.714;
    text-align: center;    
  }
  .book__img-text-small{
    margin: 398px 0px 0px 85px;
    font-size: 14px;
    font-family: "Open Sans Regular";
    color: rgb(101, 228, 150);
    line-height: 1.714;
  }
.blok-text_name{
    margin: 0px 0px 0px 0px;
    font-size: 18px;
    font-family: "Open Sans Regular";
    color: rgb(255, 255, 255);
    line-height: 2.444;
}
.blok-text__title{
    margin: 25px 0px 0px 0px;
    font-size: 48px;
    font-family: "Roboto Slab";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.917;
}
.blok-text_content_green{
    margin: 20px 0px 14px 0px;
    font-size: 18px;
    font-family: "Roboto Slab";
    color: rgb(101, 228, 150);
    line-height: 2.444;
}
.blok-text_content{
    margin: 34px 0px 0px 0px;
    font-size: 18px;
    font-family: "Open Sans Regular";
    color: rgb(255, 255, 255);
    line-height: 1.6;
}
.blok-text__btm{
    margin: 49px 0px 22px 0px;
    background-color: #65e4b0;
    width: 250px;
    height: 50px;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto Slab";
    color: rgb(255, 255, 255);
    line-height: 2.8;
    text-decoration: none;
    display: block;
}
.blok-text__small{
    font-size: 12px;
    font-family: "Open Sans Regular"; 
    color: rgb(255, 255, 255);
    font-style: italic;
    line-height: 1.833;
}
/* Finish header */
section2{
    background-color: #fff;
    width: 100%;
}
.blok-author-photo{
    width: 100%;
    margin: 160px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}
.blok__author{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.blok__author_name{
    margin: 0px 0px 0px 0px;
    font-size: 18px;
    font-family: "Open Sans Regular";
    color:#7d7d91;
    line-height: 2.444;
}
.blok__author__title{
    margin: 25px 0px 0px 0px;
    font-size: 48px;
    font-family: "Roboto Slab";
    color:#44444f;
    font-weight: bold;
    line-height: 0.917;
}
.blok__author_content_green{
    margin: 20px 0px 14px 0px;
    font-size: 18px;
    font-family: "Roboto Slab";
    color: rgb(101, 228, 150);
    line-height: 2.444;
}
.blok__author_content{
    margin: 34px 0px 0px 0px;
    font-size: 18px;
    font-family: "Open Sans Regular";
    color:#7d7d91;
    line-height: 1.6;
}
.blok__author__btm{
    margin: 49px 0px 22px 0px;
    background-color: #65e4b0;
    width: 250px;
    height: 50px;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto Slab";
    color: rgb(255, 255, 255);
    line-height: 2.8;
    text-decoration: none;
    display: block;
}
.blok__photo{
    height: 557px;
    width: 436px;
    background: linear-gradient(to bottom right, #446a87, #59c3ae);   
}
.blok__photo-img{
    margin-top: 46px;
    margin-left: -46px;
    margin-right: 46px;
    width: 442px;
    height: 469px;
}
.wrapper-blok__statistics{
    margin: 80px 0px 160px 0px;
    display: flex;
    justify-content: center;
}
.blok__statistics{
    width: 32%;
    display: flex;
    flex-direction: column;
}
.blok__number{
    margin: 0px;
    text-align: center;
    font-size: 80px;
    font-family: "Roboto Slab Thin";
    color: rgb(101, 228, 157);
    line-height: 1.55;
}
.blok__number-text{
    margin: 0px;
    text-align: center;
    font-size: 18px;
    font-family: "Myriad Pro";
    color: rgb(105, 105, 128);
    line-height: 0,5;
}
/* Finish section2 */
section3{
    width: 100%;
    height: 300px;
    background-color: #bebfc2;
}
.book-contents_title{
    margin: 0px;
    font-size: 48px;
    font-family: "Open Sans Regular";
    color: rgb(68, 68, 79);
    line-height: 0.917;
    text-align: center;
}
.book-contents_text{
    margin: 25px 0px 14px 0px;
    font-size: 18px;
    font-family: "Roboto Slab";
    text-align: center;
    color: rgb(101, 228, 150);
    line-height: 2.444;
}
.wrapper-book-contents{
    display: flex;
    justify-content: space-between;
}
.book-contents__about{
    margin-right: 50px;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.book-contents__table{
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.book-contents__table_list12{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.book-contents__table_list{
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
}

.table_List_img{
    
}
.table_list_text{
    margin: 0px 0px 2px 10px;
}